## Этот код демонстрирует различные способы обработки пропущенных значений в данных и их влияние на точность модели классификации.

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

%matplotlib inline

In [2]:
def build_model(dataset, test_size=0.3, random_state=17):
    X_train, X_test, y_train, y_test = train_test_split(
        dataset.drop('Label', axis=1), dataset.Label,
        test_size=test_size, random_state=random_state)
    
    clf = DecisionTreeClassifier(random_state=random_state).fit(X_train, y_train)
    
    y_pred = clf.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [13]:
df = pd.read_csv('C:/Users/LENOVO/Desktop/Весь материал Нургалыма/jupyter/Машинное обучение для обнаружения сетевых угроз/employee-attrition-missing.csv')
df.dropna(inplace=True)
df.fillna(df.mean(), inplace=True)

# Это приведет к сбою с "ValueError: входные данные содержат NaN, бесконечность или значение, слишком большое для dtype('float32')".
build_model(df)

0.7552083333333334

In [6]:
df.head()

   TotalWorkingYears  MonthlyIncome  Overtime  DailyRate  Label
0                NaN           6725         0      498.0      0
1               12.0           2782         0        NaN      0
2                9.0           2468         0        NaN      0
3                8.0           5003         0      549.0      0
4               12.0           8578         0        NaN      0

In [7]:
num_orig_rows = len(df)
num_full_rows = len(df.dropna())

(num_orig_rows - num_full_rows)/float(num_orig_rows)

0.5653061224489796

### Решение 1: Удалите строки и столбцы с помощью NaN

In [8]:
df_droprows = df.dropna()
build_model(df_droprows)

0.7552083333333334

In [9]:
df_dropcols = df[['MonthlyIncome','Overtime','Label']]
build_model(df_dropcols)

0.7732426303854876

### Решение 2: Заполните значения NaN контрольными значениями '-1'.

In [10]:
df_sentinel = df.fillna(value=-1)
build_model(df_sentinel)

0.7528344671201814

### Решение 3a: Вычислите значения, используя среднее значение

In [15]:
from sklearn.impute import SimpleImputer

# Создание экземпляра SimpleImputer с нужными параметрами
imp = SimpleImputer(strategy='mean')

# Преобразование данных с помощью SimpleImputer
df_imputed = pd.DataFrame(imp.fit_transform(df),
                          columns=df.columns)

# Передача преобразованных данных в функцию build_model
build_model(df_imputed)

0.7552083333333334

### Решение 3b: Вычислить значения с использованием медианы

In [16]:
from sklearn.impute import SimpleImputer

# Создание экземпляра SimpleImputer с нужными параметрами
imp = SimpleImputer(strategy='median')

# Преобразование данных с помощью SimpleImputer
df_imputed = pd.DataFrame(imp.fit_transform(df),
                          columns=df.columns)

# Передача преобразованных данных в функцию build_model
build_model(df_imputed)

0.7552083333333334